// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Module-Debug.xcconfig"
#include "App-Shared.xcconfig"

// A list of compilation conditions to enable for conditional compilation expressions.
SWIFT_ACTIVE_COMPILATION_CONDITIONS = DEBUG
